<form  [formGroup]="addProduct" (ngSubmit)="onSubmit()">
    <h2>Add Product</h2>
    <div class="mb-3">
      <label for="firstName" class="form-label">First Name</label>
      <input
        type="text"
        class="form-control"
        id="firstName"
        formControlName="firstName"
        aria-describedby="firstHelp"
      />
      <div *ngIf="!addProduct.get('firstName').valid && addProduct.get('firstName').touched" id="firstHelp" class="form-text">
        Enter a valid name
      </div>
    </div>
  

   
  
    <div class="mb-3">
      <label for="manufacturing" class="form-label">Manufacturing Date </label>
      <input
        type="number"
        class="form-control"
        id="manufacturing"
        formControlName="manufacturing"
        aria-describedby="manufacturingHelp"
      />
      <div id="manufacturingHelp" class="form-text">
        Enter a valid age
      </div>
    </div>
  
    <div class="mb-3">
      <label for="expiry" class="form-label">Expiry Date</label>
      <input
        type="number"
        class="form-control"
        id="expiry"
        formControlName="expiry"
        aria-describedby="expiryHelp"
      />
      <div id="expiryHelp" class="form-text">
        We'll never share your phone with anyone else.
      </div>
    </div>
   
  
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea
        class="form-control"
        id="description"
        formControlName="description"
        aria-describedby="descriptionHelp"
      ></textarea>
      <div id="descriptionHelp" class="form-text">
        We'll never share your email with anyone else.
      </div>
    </div>
  
    <button type="submit" class="btn btn-primary" [disabled]="addProduct.invalid">Submit</button>
  </form>
  
