<div class="container mt-3">
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Gender</th>
        <th scope="col">View Details</th>
      </tr>
    </thead>

    <tbody class="table-group-divider">
      <ng-container *ngIf="allCustomers.length > 0; else displayNone">
        <tr *ngFor="let cust of allCustomers; let i = index">
          <th scope="row">{{ i }}</th>
          <td>{{ cust.firstName }}</td>
          <td>{{ cust.lastName }}</td>
          <td>{{ cust.phoneNumber }}</td>
          <td>{{ cust.gender }}</td>
          <td><button type="button" class="btn btn-success" routerLink="i/view"> Show Details </button></td>
        </tr>
      </ng-container>
      <ng-template #displayNone>
        <div>No Customers to display</div>
      </ng-template>
    </tbody>
  </table>
  <div class="col-sm-12 col-md-12">
    <router-outlet></router-outlet>
  </div>
</div>
