<div class="container">
  <div class="row mt-4">
    <div class="col-md-6">
      <div class="card" style="width: 35rem">
        <img
          src="../../../assets/customer.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Total Customer</h5>
          <a class="btn btn-primary"> Add Customer</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card" style="width: 35rem">
        <img src="../../../assets/product.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Total Products</h5>
          <a class="btn btn-primary">Add Product</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <app-part (serverAdded)="onServerAdded($event)" (bluePrintAdded)="onBlueprintAdded($event)" ></app-part>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <app-server
        *ngFor="let serverElement of serverElements"
        [srvElement]="serverElement"
        [name]="serverElement.name"
      >
        <p #contentParagraph>
          <strong *ngIf="serverElement.type === 'server'" style="color: red">{{
            serverElement.content
          }}</strong>
          <em *ngIf="serverElement.type === 'blueprint'">{{
            serverElement.content
          }}</em>
        </p>
      </app-server>
    </div>
  </div>
</div>
