<div class="container mt-4">
  <h2>Customer Details</h2>

  <div class="p-3 mb-2 bg-secondary text-white col-sm-12 col-md-12">
    <table class="table">
      <tbody class="table-group-divider">
        <ng-container>
          <tr>
            <td>First</td>
            <td>seocnd</td>
          </tr>
          <tr>
            <td>First</td>
            <td>seocnd</td>
          </tr>
          <tr>
            <td>First</td>
            <td>seocnd</td>
          </tr>
          <tr>
            <td>First</td>
            <td>seocnd</td>
          </tr>
          <tr>
            <td>First</td>
            <td>seocnd</td>
          </tr>
          <tr>
            <td>First</td>
            <td>seocnd</td>
          </tr>
          <tr>
            <td>First</td>
            <td>seocnd</td>
          </tr>
        </ng-container>
        <ng-template #displayNone>
          <div>No Customers to display</div>
        </ng-template>
      </tbody>
    </table>
  </div>
</div>
