<div class="container">
  <p>
    Observables and Subjects are part of the reactive programming paradigm and
    deal with streams of values over time. They provide more flexibility,
    support for multiple subscribers, and a rich set of operators for working
    with asynchronous data. Promises, on the other hand, are designed for
    handling single asynchronous operations and provide a simpler syntax for
    handling asynchronous results.
  </p>
  <p>Subjects next can be called from outside. Unsubscribe to subjects when you don't need them</p>
</div>
